body{
    background-color: rgb(233, 173, 7);
    margin: 0;
}


header{
    margin: 0;
    padding: 0;
}

.Title{
    text-align: center;
    font-size: 50px;
    background-color: white;
   height: 100px;
}
.allimages{
    margin-left: 100px;
}
#photo-1{
    margin: 30px;
    margin-left: 2px;
}
#photo-2{
    margin: 30px;
    margin-left: 2px;
}
#photo-3{
    margin: 30px;
    margin-left: 2px;
}
#photo-4{
    margin: 30px;
    margin-left: 2px;
}
#photo-5{
    margin: 30px;
    margin-left: 2px;
}
#photo-6{
    margin: 30px;
    margin-left: 2px;
}
#photo-7{
    margin: 30px;
    margin-left: 2px;
}

#photo-8{
    margin: 30px;
    margin-left: 2px;
}
#photo-9{
    margin: 30px;
    margin-left: 2px;
}
#photo-10{
    margin: 30px;
    margin-left: 2px;
}
#photo-11{
    margin: 30px;
    margin-left: 2px;
}
#photo-12{
    margin: 30px;
    margin-left: 2px;
}
#photo-13{
    margin: 30px;
    margin-left: 2px;
}
#photo-14{
    margin: 30px;
    margin-left: 2px;
}
#photo-15{
    margin: 30px;
    margin-left: 2px;
}
#photo-16{
    margin: 30px;
    margin-left: 2px;
}
#photo-17{
    margin: 30px;
    margin-left: 2px;
}

#photo-18{
    margin: 30px;
    margin-left: 2px;
}
#photo-19{
    margin: 30px;
    margin-left: 2px;
}
#photo-20{
    margin: 30px;
    margin-left: 2px;
}
#photo-21{
    margin: 30px;
    margin-left: 2px;
}
#photo-22{
    margin: 30px;
    margin-left: 2px;
}
#photo-23{
    margin: 30px;
    margin-left: 2px;
}
#photo-24{
    margin: 30px;
    margin-left: 2px;
}
#photo-25{
    margin: 30px;
    margin-left: 2px;
}
#photo-26{
    margin: 30px;
    margin-left: 2px;
}
#photo-27{
    margin: 30px;
    margin-left: 2px;
}

#photo-28{
    margin: 30px;
    margin-left: 2px;
}
#photo-29{
    margin: 30px;
    margin-left: 2px;
}
#photo-30{
    margin: 30px;
    margin-left: 2px;
}
#photo-31{
    margin: 30px;
    margin-left: 2px;
}
#photo-32{
    margin: 30px;
    margin-left: 2px;
}
#photo-33{
    margin: 30px;
    margin-left: 2px;
}
#photo-34{
    margin: 30px;
    margin-left: 2px;
}
#photo-35{
    margin: 30px;
    margin-left: 2px;
}
#photo-36{
    margin: 30px;
    margin-left: 2px;
}
#photo-37{
    margin: 30px;
    margin-left: 2px;
}

#photo-38{
    margin: 30px;
    margin-left: 2px;
}
#photo-39{
    margin: 30px;
    margin-left: 2px;
}
#photo-40{
    margin: 30px;
    margin-left: 2px;
}